.container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(255, 254, 254, 0.15);
    padding-top: 5rem;

    .nav_item{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
     justify-content: space-between;
     height: 10vh;

     a {
        text-decoration: none;
        color: #000;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        transition: all 0.3s ease-in-out;
        padding-top: 1.5rem;
        &:hover {
            color: #f50057;
        }
     }
    }
}



.container_small{
    display: none;
}

// media query
@media screen and (max-width: 820px) {
    .container {
        display: none;
    }
    .container_small {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0.5rem 1rem;
        background-color: unset;
        box-shadow: unset;
    }
    a {
        text-decoration: none;
        color: #000;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: #f50057;
        }
     }
    
}