.container {
    width: 100%;
    height: 100%;
    background: rgb(239, 239, 239);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    overflow: unset;
    padding-right: 0px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    height: 900px;
    max-height: 90vh;
    width: 1280px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 10%) 5px 5px 50px;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    background-image:url("./app/assets/images/backgroundImage.jpg");
}

.main{
 
    background-repeat: no-repeat;
    background-origin: content-box;
}